<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>524700773045-frgds3q2nu5gj28vch74708qs9rf3gb8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.524700773045-frgds3q2nu5gj28vch74708qs9rf3gb8</string>
	<key>API_KEY</key>
	<string>AIzaSyDu6CzRKUcSaOfo6NMhxOCwU2prQfhngqg</string>
	<key>GCM_SENDER_ID</key>
	<string>524700773045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommers</string>
	<key>PROJECT_ID</key>
	<string>add-prodect</string>
	<key>STORAGE_BUCKET</key>
	<string>add-prodect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:524700773045:ios:e66607484e1aae2a14acfc</string>
	<key>DATABASE_URL</key>
	<string>https://add-prodect-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>